@import './base/vars.css';
@import './base/reset.css';

html {
  font-family: 'Pretendard', sans-serif;
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-default);
  height: 100%;
}

a {
  color: inherit;
}

#__next {
  height: 100%;
}
