.profile-img-wrapper {
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background: radial-gradient(100% 417.22% at 100% 0%, #f76e11 0%, #fbbe94 52.6%, rgba(251, 190, 148, 0.49) 100%);

  .profile-img {
    object-fit: cover;
  }
}
